@model smart_education_center.Areas.Admin.Models.OpenExcelViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/Areas/Admin/Content/css/dataTables.bootstrap4.css" />

<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Question Paper</a>
            </li>
            <li class="breadcrumb-item active">Home</li>
        </ol>
        @Html.HiddenFor(x => x.QuestionTable)
        <div class="row">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="col-sm-12">
                    @Html.HiddenFor(Model => Model.QuestionTable)
                    @Html.LabelFor(x => x.ExcelPaperFile, "Upload Question Paper with an Excel file :")
                    @Html.TextBoxFor(x => x.ExcelPaperFile, new { type = "file", @class = "required" })
                    <button class="btn btn-sm btn-primary" type="submit">Upload</button>
                    @Html.Raw("<div class=\"text-danger\">" + TempData["ErrorMessage"] + "</div>")
                </div>
            }

        </div>

        @if (TempData["ResultMessage"].ToString() == "Added Successfully")
        {
            <div class="container">
                <label class="form-control">@Model.Grade</label>
                <label class="form-control">@Model.Subject</label>
                <label class="form-control">@Model.PaperName</label>
                <label class="form-control">@Model.PaperPart</label>
                <label class="form-control">@Model.PaperTime</label>
            </div>
        }


        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Uploaded Questions
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Question</th>
                                <th>Answer</th>
                                <th>Lesson</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>No</th>
                                <th>Question</th>
                                <th>Answer</th>
                                <th>Lesson</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @if (Model.QuestionTable != null)
                            {

                                foreach (System.Data.DataRow row in Model.QuestionTable.Rows)
                                {
                                    <tr>
                                        <td>
                                            @row.ItemArray[0]
                                        </td>
                                        <td>
                                            @row.ItemArray[1]
                                            <br />
                                            <ul>
                                                <li>@row.ItemArray[2] </li>
                                                <li>@row.ItemArray[3]</li>
                                                <li>@row.ItemArray[4]</li>
                                                <li>@row.ItemArray[5]</li>
                                            </ul>

                                        </td>
                                        <td>
                                            @row.ItemArray[6]
                                        </td>
                                        <td>
                                            @row.ItemArray[7]
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © ByZero Technologies - 2019</span>
            </div>
        </div>
    </footer>
</div>

<script src="~/Areas/Admin/scripts/jquery.dataTables.js"></script>
<script src="~/Areas/Admin/scripts/dataTables.bootstrap4.js"></script>

<script src="~/Areas/Admin/scripts/jquery.min.js"></script>


<script>

    $(document).ready(function () {

        var resultCode = @Html.Raw(Json.Encode(TempData["ResultCode"]));
        var resultMessage = @Html.Raw(Json.Encode(TempData["ResultMessage"]));

        if (resultCode == 1) {
            toastr.success(resultMessage.toString());
        }

        if (resultCode == 2) {
            toastr.error(resultMessage.toString());
        }
    });

</script>