@model smart_education_center.Models.QuestionViewModel
@{
    Layout = null;
    ViewBag.Title = "ViewQuestion";
    var endTime = ((DateTime)Model.TokenExpireTime);
    var timeRemaining = TimeSpan.FromTicks(endTime.Ticks - DateTime.Now.Ticks).TotalSeconds.ToString("#");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cyber School</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>
<body onload="QuestionsNumbersShow()">

    <div class="jumbotron" style="border-bottom:2px solid black;">
        <div class="container text-center">
            <div class="row">
                <div class="col-xs-2 col-sm-2" style="border:groove; border-radius:12px; height:80px;">
                    <h3 style="font-size:2vw;">Grade @Model.Grade</h3>
                    @*<label>Grade @Model.Grade</label>*@
                </div>
                @*<div class="col-xs-2 col-sm-2" style="border:groove; border-radius:12px;">
                        <h3 style="font-size:2vw;">@Model.SubjectName</h3>
                    </div>*@
                <div class="col-xs-8 col-sm-8">
                    @*<h3 style="font-size:2vw;">@Model.TestName</h3>*@
                    <div style="border:groove; border-radius:12px;">
                        <label>@(Model.SubjectName) - Paper @(Model.PaperPart)</label>
                    </div>
                    <div style="border:groove; border-radius:12px;">
                        <label>@Model.TestName</label>
                    </div>
                </div>
                @*<div class="col-xs-2 col-sm-2" style="border:groove; border-radius:12px;">

                        @if (Model.PaperPart == 1)
                        {
                            <h3 style="font-size:2vw;">Paper I</h3>
                        }
                        else
                        {
                            <h3 style="font-size:2vw;">Paper II</h3>
                        }

                    </div>*@
                <div class="col-xs-2 col-sm-2" style="border:groove; border-radius:12px; height:80px;">
                    <h3 style="font-size:2vw;">
                        <span id="horRemaining"></span> : <span id="minRemaining"></span> : <span id="secRemaining"></span>
                    </h3>
                    @*<label>
                            <span id="horRemaining"></span> : <span id="minRemaining"></span> : <span id="secRemaining"></span>
                        </label>*@
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("PostAnswer", "Exam", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form" }))
    {
        <input type="hidden" name="Direction" id="direction" />
        <input type="hidden" name="TestID" value="@(Model.TestId)" />
        <input type="hidden" name="QuestionID" value="@(Model.Id)" />
        <input type="hidden" name="QuestionNumber" value="@(Model.QuestionNumber)" />
        <input type="hidden" name="CorrectAnswer" value="@(Model.CorrectAnswer)" />
        <input type="hidden" name="AnswerList" value="@(Model.AnswerList)" />
        <input type="hidden" name="SelectQuestionNumber" id="SelectQuestionNumberId" />
        <div class="container-fluid bg-3">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-xs-1 col-sm-1 text-center">
                    <h1 style="border:1px solid black; border-radius:12px; font-size:2vw;">@(Model.QuestionNumber)</h1>
                </div>
                <div class="col-xs-11 col-sm-7" style="border-left:2px solid black; font-size:larger">
                    <div>
                        @(Model.Question1)
                        <br /><br />
                    </div>
                    @*<div class="text-center">
                            Image
                            <br /><br />
                        </div>*@
                    <div style="border-top:2px solid black;">
                        <br />
                        @foreach (var item in Model.CoiceVMList)
                        {
                            <div class="col-sm-6">
                                <input type="hidden" name="token" value="@(TempData["token"])" />
                                <input type="hidden" name="mark" value="@Model.PointsOfQuestion" />
                                @if (Model.ChoiceID == item.Id)
                                {
                                    <input type="radio" name="choiceID" value="@(item.Id)" checked /> @(item.ChoiceLabel)
                                }
                                else
                                {
                                    <input type="radio" name="choiceID" value="@(item.Id)" /> @(item.ChoiceLabel)
                                }
                                <br /><br />
                            </div>
                        }
                    </div>
                    <div>
                        <div class="col-xs-1 col-sm-1" style="border-top:1px solid black;">
                            <br />
                            @if (Model.QuestionNumber == 1)
                            {
                                <a href="#" class="btn btn-default disabled" style="color:black;border:1px solid black;border-radius:12px;"><</a>
                            }
                            else
                            {
                                <a href="javascript:void(0);" onclick="saveBackward(this);" class="btn btn-default" style="color:black;border:1px solid black;border-radius:12px;"><</a>
                            }

                        </div>
                        <div class="col-xs-8 col-sm-10" style="border-top:1px solid black;">
                            <br />
                            <center>
                                <a href="javascript:void(0);" onclick="QuestionsNumbers();" class="btn btn-default" id="SummaryButton" style="color:black;border:1px solid black;border-radius:12px;">Summary</a>
                            </center>
                        </div>
                        <div class="col-xs-2 col-sm-1" style="border-top:1px solid black;">
                            <br />
                            @if (Model.QuestionCount == Model.QuestionNumber)
                            {
                                @*<input type="submit" value="Submit" class="btn btn-default" style="color:black;border:1px solid black;border-radius:12px;" />*@
                                <a href="javascript:void(0);" onclick="Confirm();" class="btn btn-default" style="color:black;border:1px solid black;border-radius:12px;">Submit</a>
                            }
                            else
                            {
                                <a href="javascript:void(0);" onclick="saveForward(this);" class="btn btn-default" style="color:black;border:1px solid black;border-radius:12px;">></a>
                            }
                        </div>
                    </div>
                </div>
                @*QNumbers*@
                <div class="col-sm-2" id="QNumber" style="border-left:2px solid black;">
                    @for (int i = 0; i < Model.QuestionCount; i++)
                    {
                        <div class="col-sm-3" style="padding-top:2px;">
                            @*<div style="padding-top:2px;">*@
                            @*<a href="@Url.Action("ViewQuestion", "Exam", new { questionNumber = i + 1, token = TempData["token"]})" class="btn @(Model.QuestionNumber==(i+1)?"btn-primary":"btn-default")" style="color:black;border:1px solid black;" id="btnID@(i + 1)">@(i + 1)</a>*@
                            @if (Model.AnswerList != null)
                            {
                            if (Model.AnswerList.Any(x => x.QuestionNumber == (i + 1)))
                            {
                            if (Model.AnswerList.Where(x => x.QuestionNumber == (i + 1)).Select(o => o.ChoiceID).FirstOrDefault() < 1)
                            {
                            <a href="javascript:void(0);" onclick="saveGo(@(i+1));" class="btn @(Model.QuestionNumber==(i+1)?"btn-primary":"btn-default")" style="color:black;border:1px solid red;" id="btnID@(i + 1)">@(i + 1)</a>
                            }
                            else
                            {
                            <a href="javascript:void(0);" onclick="saveGo(@(i+1));" class="btn @(Model.QuestionNumber==(i+1)?"btn-primary":"btn-default")" style="color:black;border:1px solid black;" id="btnID@(i + 1)">@(i + 1)</a>
                            }
                            }
                            else
                            {
                            <a href="javascript:void(0);" onclick="saveGo(@(i+1));" class="btn @(Model.QuestionNumber==(i+1)?"btn-primary":"btn-default")" style="color:black;border:1px solid red;" id="btnID@(i + 1)">@(i + 1)</a>
                            }

                            }
                            else
                            {
                            <a href="javascript:void(0);" onclick="saveGo(@(i+1));" class="btn @(Model.QuestionNumber==(i+1)?"btn-primary":"btn-default")" style="color:black;border:1px solid red;" id="btnID@(i + 1)">@(i + 1)</a>
                            }
                            @*</div>*@
                        </div>
                    }
                </div>
            </div>
            <br />

        </div><br /><br /><br />

        //Cofirm popup
        <div class="modal fade" id="popupModal">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color:#d9dbdd;border-radius:12px;">
                    <div class="modal-body site-theme-model" id="popupModalBodyDiv">
                        <div class="modal-header site-theme" style="background-color:#d9dbdd">
                            <h4 class="modal-title pull-left">Confirm</h4>
                            <button type="button" class="close" data-dismiss="modal" style="color:red;">&times;</button>
                        </div>
                        <div class="site-theme">
                            <div style="padding-right:0px;padding-left:0px;padding-bottom:5px;padding-top:5px; background-color:#ffffff;border-radius:12px;">

                                <div class="navbar-form div-row text-center" style="position:center">
                                    <p>Do you want to Submit the Exam?</p>
                                </div>
                            </div>
                            <div class="modal-footer site-theme">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <input type="submit" value="Submit" class="btn btn-default" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        //Question numbers Popup Model
        <div class="modal fade" id="questionsPopupModal">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color:#d9dbdd; border-radius:12px;">
                    <div class="modal-body site-theme-model" id="popupModalBodyDiv">
                        <div class="modal-header site-theme" style="background-color:#d9dbdd">
                            <h4 class="modal-title pull-left">Summary</h4>
                            <button type="button" class="close" data-dismiss="modal" style="color:red;">&times;</button>
                        </div>
                        <div class="site-theme">
                            <div style="padding-right:0px;padding-left:0px;padding-bottom:5px;padding-top:5px; background-color:#ffffff;border-radius:12px;">

                                <div class="navbar-form div-row text-center" style="position:center">
                                    @for (int i = 0; i < Model.QuestionCount; i++)
                                    {
                                        @*<div style="padding-top:2px;">*@
                                        @*<a href="@Url.Action("ViewQuestion", "Exam", new { questionNumber = i + 1, token = TempData["token"]})" class="btn @(Model.QuestionNumber==(i+1)?"btn-primary":"btn-default")" style="color:black;border:1px solid black;" id="btnID@(i + 1)">@(i + 1)</a>*@
                                    if (Model.AnswerList != null)
                                    {
                                        if (Model.AnswerList.Any(x => x.QuestionNumber == (i + 1)))
                                        {
                                            if (Model.AnswerList.Where(x => x.QuestionNumber == (i + 1)).Select(o => o.ChoiceID).FirstOrDefault() < 1)
                                            {
                                                <a href="javascript:void(0);" onclick="saveGo(@(i+1));" class="btn @(Model.QuestionNumber==(i+1)?"btn-primary":"btn-default")" style="color:black;border:1px solid red;" id="btnID@(i + 1)">@(i + 1)</a>
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0);" onclick="saveGo(@(i+1));" class="btn @(Model.QuestionNumber==(i+1)?"btn-primary":"btn-default")" style="color:black;border:1px solid black;" id="btnID@(i + 1)">@(i + 1)</a>
                                            }
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0);" onclick="saveGo(@(i+1));" class="btn @(Model.QuestionNumber==(i+1)?"btn-primary":"btn-default")" style="color:black;border:1px solid red;" id="btnID@(i + 1)">@(i + 1)</a>
                                        }

                                    }
                                    else
                                    {
                                        <a href="javascript:void(0);" onclick="saveGo(@(i+1));" class="btn @(Model.QuestionNumber==(i+1)?"btn-primary":"btn-default")" style="color:black;border:1px solid red;" id="btnID@(i + 1)">@(i + 1)</a>
                                    }
                                    if ((i + 1) % 10 == 0)
                                    {
                                        <br /><br />
                                        }
                                        @*</div>*@
                                    }
                                </div>
                            </div>
                            <div class="modal-footer site-theme">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <input type="submit" value="Submit" class="btn btn-default" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
    <footer class="container-fluid text-center navbar-fixed-bottom" style="height:50px;">
        <p>Smart Education Center</p>
    </footer>
</body>
</html>

<script>

    var remSeconds = @timeRemaining;
    var secCounter = remSeconds%60;
    var minCounter = (remSeconds/60)%60;

    function formatNumber(number){
        if(number<10) return '0'+number;
        else return ''+number;
    }

    function startTick() {

        document.getElementById('secRemaining').innerText = formatNumber(secCounter);
        document.getElementById('minRemaining').innerText = formatNumber(parseInt(minCounter));
        if(@timeRemaining>3600){
            document.getElementById('horRemaining').innerText = parseInt(remSeconds/3600);
        }
        if(remSeconds<600){
            document.getElementById('minRemaining').style.color="red";
            document.getElementById('secRemaining').style.color="red";
        }

        var _tick = setInterval(function(){
            if(remSeconds>0){

                if(minCounter == 0){
                    minCounter=60;
                }
                if (secCounter==0) {
                    secCounter=60;
                    minCounter = minCounter-1;
                    document.getElementById('minRemaining').innerText = formatNumber(parseInt(minCounter));
                }
                remSeconds = remSeconds-1;
                secCounter = secCounter-1;

                document.getElementById('secRemaining').innerText = formatNumber(secCounter);
                if(@timeRemaining>3600){
                    document.getElementById('horRemaining').innerText = parseInt(remSeconds/3600);
                }
                if(remSeconds<600){
                    document.getElementById('minRemaining').style.color="red";
                    document.getElementById('secRemaining').style.color="red";
                }
            }
            else{
                alert("Your Exam time has expired");
                clearInterval(_tick);
                window.location.href = '@Url.Action("FinalResult", "Exam", new { token = TempData["token"] })';
            }

        },1000);
    }
    startTick();

    function saveForward(sender){
        $('#direction').val('forward');
        document.getElementById('form').submit();
    }
    function saveBackward(sender){
        $('#direction').val('backward');
        document.getElementById('form').submit();
    }
    function saveGo(sender){
        $('#SelectQuestionNumberId').val(sender);
        document.getElementById('form').submit();
    }

    var Confirm = function () {

        $("#popupModal").modal('show');
    }

    var QuestionsNumbers = function () {

        $("#questionsPopupModal").modal('show');
    }

    function QuestionsNumbersShow(){
        if(screen.width>=768){
            $("#QNumber").show();
            $("#SummaryButton").hide();
        }else{
            $("#QNumber").hide();
            $("#SummaryButton").show();
        }
    }
</script>