@model IEnumerable<smart_education_center.Models.SubjectViewModel>
@{
    Layout = null;
    ViewBag.Title = "SubjectView";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cyber School</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img style="height:30px" src="~/Images/logo.png" /></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="#">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index", "Exam")"><span class="glyphicon"></span> Back </a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Thilina </a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container text-center">
            <br />
            <div class="row">
                <div class="col-xs-3" style="border:groove; border-radius:12px;">
                    <h3>Grade @Session["Grade"]</h3>
                </div>
                <div class="col-xs-6">
                    <h1>Select Your Subject</h1>
                </div>
                <div class="col-xs-3">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-3 text-center">
        @if (Model.Count() < 1)
        {
            <div class="row">
                <div class="col-xs-1 col-sm-1">
                </div>
                <div class="col-xs-10 col-sm-10 text-center">
                    <p style="color:red;">There are no subjects available yet in this category!</p>
                </div>
                <div class="col-xs-1 col-sm-1">
                </div>
            </div>
        }
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-xs-6 ">
                    <br>
                    <a href="@Url.Action("ViewPaper", "Exam", new { subjectID = item.Id, gradeId = item.gradeId })" class="btn btn-default" style="border-radius:12px; width:100%; border:1px solid black;" onmouseenter="style.borderColor = 'red'" onmouseleave="style.borderColor = 'black'"><h3 style="font-size:2vw">@item.SubjectName</h3></a>
                    @*<button type="button" style="width:100%;" class="btn btn-default"><h3>Subject @(i + 1)</h3></button><br />*@
                </div>
            }
        </div><br /><br /><br /><br /><br /><br />
    </div>
    <footer class="container-fluid text-center navbar-fixed-bottom">
        <p>Smart Education Center</p>
    </footer>

</body>
</html>
