@model smart_education_center.Models.GradeVsSubject
@{
    Layout = null;

}
<div class="modal-header site-theme" style="background-color:#343a40">
    <h4 class="modal-title pull-left" style="color:rgba(255, 255, 255, 0.5)">Assign a subject to a class</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="site-theme">
    @using (Html.BeginForm("AssignSubject", "ManageClass", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <form id="formAS">
            <div style="padding-right:5px;padding-left:5px;padding-bottom:5px;padding-top:5px; background-color:#ffffff">

                <div class="navbar-form div-row" style="position:center">
                    @Html.Label("Select the Grade")
                    @Html.DropDownListFor(model => model.Grade.Id, ViewBag.Grades as SelectList, "--select--", new { @class = "form-control", @required = "required" })
                </div>
                @*<div class="navbar-form div-row" style="position:center">
                    @Html.Label("Select the Subject to assign")
                    <select id="subject_list" class="form-control"></select>
                </div>*@
                
                <div class="navbar-form div-row" style="position:center">
                    @Html.Label("Select the Subject")
                        @Html.DropDownListFor(model => model.Grade.Id, ViewBag.Subjects as SelectList, "--select--", new { @class = "form-control", @required = "required" })
                </div>
            </div>
            <div class="modal-footer site-theme">
                <button type="submit" class="btn btn-success" required>Add</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    }
</div>

<script>
    $(function () {
        $('#Grade_Id').change(function () {
            var option = $(this).find("option:selected").text();
            var url = '@Url.Action("GetSubjectList", "ManageClass")'

            $.ajax({
                url: url,
                type: 'POST',
                dataType: "json",
                data: { grade: parseInt(option) },
                success: function (res) {
                    $.each(res.d, function () {
                        $("#subject_list").append($("<option></option>").val(this.Id).html(this.SubjectName));  
                    }
                )},
                error: function () {
                    alert("error");
                }
            });
        })
    })
</script>
